.cart ion-icon {
    vertical-align: bottom;
    font-size: 30px;
    padding-right: 3px;
    padding-left: 3px;
}
.logs ion-icon {
    vertical-align: bottom;
    font-size: 30px;
    padding-right: 3px;
    padding-left: 3px;
}